input {
    display: block;
    margin-left: 10%;
    height: 50px;
    width: 350px;
    border-color: cornflowerblue;
}   
label {
    color: cornflowerblue;
    margin-right: 52%;
    padding: 10px;
    font-size: 15px;
}
.lbn{
    margin-right: 65%;
}
.sign-up {
    color: cornflowerblue;
    max-width: 35%;
    height: 450px;
    margin-left: 30%;
    margin-top: 30px;
} 
.btn1 {
    margin-right: 10%;
    border: none;
    padding: 10px;
    color: cornflowerblue;
    width: 350px;
    margin-left: 10%;
    margin-top: 40px;
    margin-bottom: 30px;
}