.about-stallion{
    height: 45%;
}
h1 {
    font-size: 18px;
}
/* .companies {
    border: 1px solid black;
    background-color: white;
    height: 200px;
} */
.stallion{
    /* border: 1px solid black; */
    margin-top:10%;
    margin-bottom: 90px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: white;
    border-radius: 5px;
} 
.stallion:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border: 1px solid salmon;
}
.stallion-product-name {
    font-size: 18px;
}